*.exe
*.pyc
*.config
*.json
*.csv
archive/*
backup/*
icons/*
output/*
keys/*
config/*
src/bin/*
src/__pycache__/*
src/music/temp/*
venv/*
.vscode/* 
*.mp4
*.mkv
*.m4v
*.mp3
*.flac
*.pdf
*.zip
!output/.gitkeep
!config/.gitkeep
!backup/.gitkeep
!backup/configs/.gitkeep
!backup/icons/.gitkeep
!backup/outputs/.gitkeep