*.exe
*.pyc
*.config
*.json
*.csv
archive/*
icons/*
output/*
keys/*
config/*
src/bin/*
src/__pycache__/*
src/music/temp/*
venv/*
.vscode/* 
*.mp4
*.mkv
*.m4v
*.mp3
*.flac
*.pdf
!output/.gitkeep
!config/.gitkeep
